# <span style="color:blue">SURVIVAL </span>Prediction of <span style="color:blue">TITANIC</span> Data Set  using Decision Tree Classifier:

[click here](https://www.kaggle.com/c/titanic) to go to problem description

In [14]:
#importing necessary libraries
import pandas as pd
from  sklearn.tree import DecisionTreeClassifier
#loading data sets
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
#Dropping unuseful columns of datasets
train.drop(['Name','Embarked','Ticket','Cabin'],inplace=True,axis=1)
test.drop(['Name','Embarked','Ticket','Cabin'],inplace=True,axis=1)
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [4]:
'''Converting Categorical columns into numerical'''
train=pd.get_dummies(train)
test=pd.get_dummies(test)
train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male
0,1,0,3,22.0,1,0,7.2500,0,1
1,2,1,1,38.0,1,0,71.2833,1,0
2,3,1,3,26.0,0,0,7.9250,1,0
3,4,1,1,35.0,1,0,53.1000,1,0
4,5,0,3,35.0,0,0,8.0500,0,1

In [5]:
train.drop('Sex_female',axis=1,inplace=True)
test.drop('Sex_female',axis=1,inplace=True)
train.iloc[:5,:]

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  Sex_male
0            1         0       3  22.0      1      0   7.2500         1
1            2         1       1  38.0      1      0  71.2833         0
2            3         1       3  26.0      0      0   7.9250         0
3            4         1       1  35.0      1      0  53.1000         0
4            5         0       3  35.0      0      0   8.0500         1

Applying the __MEAN__ value to all null values in the columns of **<span style='color:purple'>'AGE'</span>** and **<span style='color:purple'>'FARE'</span>**

In [6]:
train['Age'].fillna(train['Age'].mean(),inplace=True)
test['Age'].fillna(test['Age'].mean(),inplace=True)
test['Fare'].fillna(test['Fare'].mean(),inplace=True)

In [7]:
#splitting into test and train data sets
feature=train.drop('Survived',axis=1)
label=train['Survived']
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(feature,label, test_size=0.2, random_state=1)

C:\Users\AKHIL SAKETH\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

Fitting the data set to DECISION TREE CLASSIFIER

In [8]:
clf=DecisionTreeClassifier()
clf.fit(feature,label)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

Testing the outcome with various performance metrics

In [9]:
predictions=clf.predict(X_test)

In [10]:
from sklearn.metrics import classification_report,confusion_matrix

In [11]:
print(classification_report(y_test,predictions))
print(confusion_matrix(y_test,predictions))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00       106
          1       1.00      1.00      1.00        73

avg / total       1.00      1.00      1.00       179

[[106   0]
 [  0  73]]

In [12]:
from sklearn.metrics import accuracy_score

print(int(accuracy_score(y_test,predictions)*100),"\b%")

100 %

Predicting the outcome on test dataset

In [13]:
sub=pd.DataFrame()
sub['PassengerId']=test['PassengerId']
sub['Survived']=clf.predict(test)
sub.to_csv('sub_with_Decisiontree.csv',index=False)